<?xml version="1.0"?>
<!-- 
/**
* @category   Technooze/Modules/magento-how-tos
* @package    Technooze_Timage
* @author     Damodar Bashyal (http://dltr.org/)
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <Technooze_Timage>
            <version>0.3.1</version>
        </Technooze_Timage>
    </modules>
    <frontend>
        <routers>
            <timage>
                <use>standard</use>
                <args>
                    <module>Technooze_Timage</module>
                    <frontName>timage</frontName>
                </args>
            </timage>
        </routers>
        <layout>
            <updates>
                <timage>
                    <file>timage.xml</file>
                </timage>
            </updates>
        </layout>
    </frontend>
    <global>
        <cache>
            <!--<types>-->
            <!--<timage translate="label,description" module="technooze_timage">-->
            <!--<label>Category T-image Cache</label>-->
            <!--<description>Deletes all cached images created by timage extension.</description>-->
            <!--<tags>TIMAGE</tags>-->
            <!--</timage>-->
            <!--</types>-->
        </cache>
        <models>
            <timage>
                <class>Technooze_Timage_Model</class>
            </timage>
        </models>
        <helpers>
            <timage>
                <class>Technooze_Timage_Helper</class>
            </timage>
        </helpers>
        <blocks>
            <timage>
                <class>Technooze_Timage_Block</class>
            </timage>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <clean_catalog_images_cache_after>
                <observers>
                    <timage_clean_cache>
                        <class>timage/observer</class>
                        <method>cleanCache</method>
                    </timage_clean_cache>
                </observers>
            </clean_catalog_images_cache_after>
        </events>
    </adminhtml>
</config>
